[include printer_menu.cfg]

[include leds.cfg]

[include MKS_THR.cfg]

[mcu]
serial: /dev/ttyS0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 20000
minimum_cruise_ratio: 0.5
#deprecated max_accel_to_decel:5000 use minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 15.0

[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 0
position_max: 200
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: False
step_pulse_duration: 0.000002

[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PD14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 0
position_max: 200
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: false
step_pulse_duration: 0.000002

[stepper_z]
step_pin: PE1
dir_pin: PE0
enable_pin: !PE2
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
#gear_ratio: 40:20
endstop_pin:probe:z_virtual_endstop
position_max: 200
position_min: -10
homing_speed: 5
second_homing_speed: 2
homing_positive_dir: false
step_pulse_duration: 0.000002

[tmc2209 stepper_x]
uart_pin: PE6
run_current: 1.0
interpolate: True
stealthchop_threshold: 0
diag_pin: ^PA14
driver_SGTHRS: 110

[tmc2209 stepper_y]
uart_pin: PE3
run_current: 1.0
interpolate: True
stealthchop_threshold: 0
diag_pin: ^PA15
driver_SGTHRS: 110

[tmc2209 stepper_z]
uart_pin: PB7
run_current: 1.0
hold_current: 1.0
interpolate: True
stealthchop_threshold: 99999

[extruder]
step_pin: MKS_THR:gpio5
dir_pin: MKS_THR:gpio4
enable_pin: !MKS_THR:gpio10
rotation_distance: 52.717
gear_ratio: 95:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: MKS_THR:gpio0
sensor_pin: MKS_THR:gpio26
sensor_type: ATC Semitec 104GT-2
min_temp: -100
max_temp: 260
max_power: 0.7
min_extrude_temp: 60
pressure_advance: 0.02
pressure_advance_smooth_time: 0.09
max_extrude_cross_section: 0.64
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 100.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 2000
step_pulse_duration: 0.000002

[tmc2209 extruder]
uart_pin: MKS_THR:gpio6
interpolate: True
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[delayed_gcode ready]
initial_duration: 1
gcode:
    STATUS_READY

[homing_override]
set_position_z: 0
gcode:
    STATUS_HOMING
    G91
    G1 Z5 F100 
    {% set HOME_CUR = 0.500 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    SET_VELOCITY_LIMIT ACCEL=500
      # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    {% if params.X is defined %}
    G28 X F100
    G1 X2 F1000
    {% endif %}
    {% if params.Y is defined %}
    G28 Y F100
    G1 Y2 F1000
    {% endif %}
    {% if params.Z is defined %}
    G28 Z F100
    {% endif %}
    {% if params.X is undefined %}
    {% if params.Y is undefined %}
    {% if params.Z is undefined %}
    G28 X F100
    G28 Y F100
    G1 X2 F1000
    G1 Y0 F1000
    G28 Z F100
    {% endif %}
    {% endif %}
    {% endif %}    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
    SET_VELOCITY_LIMIT ACCEL=5000
    G90
    BED_MESH_PROFILE LOAD=default
    STATUS_READY

[heater_bed]
heater_pin: PA0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC0
max_power: 1.0
#control = pid
#pid_kp = 71.039
#pid_ki = 2.223
#pid_kd = 567.421
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 110
[temperature_sensor thr_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: MKS_THR
min_temp: 0
max_temp: 110
[temperature_sensor KINGROONGpi Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100
[temperature_fan Pi_fan2]
pin: PA2
kick_start_time: 0.500
sensor_type: temperature_host
control: watermark
target_temp: 30.0
min_temp: 0
max_temp: 90
max_speed: 1
min_speed: 0.3

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    STATUS_HEATING
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    G90
    G28
    G1 Z5 F3000
    G1 Z0.15 F100
    STATUS_PRINTING

[gcode_macro M205]
gcode:
[gcode_macro END_PRINT]
gcode:

    G91
    G1 X-2 Y-2 E-3 F300
    G1 Z10 F3000
    G90
    M84
    M140 S60
    M104 S200
    M106 S0

[idle_timeout]
timeout: 3600

[gcode_macro G40]
gcode:
    ACCELEROMETER_QUERY
    SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
    G28
    M106 S255
    SHAPER_CALIBRATE
    SAVE_CONFIG

[gcode_macro SHAPER_CALIBRATE]
rename_existing: RESHAPER_CALIBRATE
gcode:
     STATUS_BUSY
     RESHAPER_CALIBRATE FREQ_START=5 FREQ_END=100

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20
accel_per_hz: 100
#accel_per_hz: 300

[adxl345]
axes_map: y, x, z
cs_pin: MKS_THR:gpio13
spi_software_sclk_pin: MKS_THR:gpio14
spi_software_mosi_pin: MKS_THR:gpio15
spi_software_miso_pin: MKS_THR:gpio12

[input_shaper]
#shaper_freq_x: 96.6
#shaper_type_x: mzv
#shaper_freq_y: 136.0
#shaper_type_y: 2hump_ei

[virtual_sdcard]
# path: ~/gcode_files
path: ~/printer_data/gcodes

[save_variables]
filename: ~/printer_data/config/variables.cfg

[pause_resume]

[exclude_object]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
    
[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
    G91
    G1 Z10
    G90
    G1 X10 Y10 F3000
    M104 S220
    M105
    M109 S220
    G91
    G1 E30 F3000
    G1 E-27 F9000
    M104 S62
    M105
    M109 S62
    G1 E-50 F300
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
event_delay: 3.0
pause_delay: 0.5
switch_pin: PA1

[display_status]

[verify_heater extruder]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2

[verify_heater heater_bed]
max_error: 120
check_gain_time: 240
hysteresis: 10
heating_gain: 1

[probe]
pin:!MKS_THR:gpio21
#x_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
x_offset: 18
#y_offset: 0.0
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
y_offset: 10
#speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
speed: 5
#samples: 1
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
samples: 3
#sample_retract_dist: 2.0
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
sample_retract_dist: 2.0
#samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
samples_result: median
#samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
samples_tolerance: 0.05
#samples_tolerance_retries: 0
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.
samples_tolerance_retries: 3

[gcode_macro G29]
gcode:
    G28
    G0 Z10 F1000
    G1 X105 Y105 F1000
    PROBE_CALIBRATE

[gcode_macro G30]
gcode:
    STATUS_MESHING
    # This command clears the mesh and removes all z adjustment. It is recommended to put this in your end-gcode.
    BED_MESH_CLEAR
    # Move to origin: G28 [X] [Y] [Z]
    G28
    # BED_MESH_CALIBRATE [METHOD=manual] [HORIZONTAL_MOVE_Z=<value>] [<probe_parameter>=<value>] [<mesh_parameter>=<value>]: 
    # This command probes the bed using generated points specified by the parameters in the config. 
    # After probing, a mesh is generated and z-movement is adjusted according to the mesh. 
    # See the PROBE command for details on the optional probe parameters. 
    # If METHOD=manual is specified then the manual probing tool is activated - see the 
    # MANUAL_PROBE command above for details on the additional commands available while this tool is active. 
    # The optional HORIZONTAL_MOVE_Z value overrides the horizontal_move_z option specified in the config file.
    BED_MESH_CALIBRATE
    # BED_MESH_PROFILE LOAD=<name> SAVE=<name> REMOVE=<name>: 
    # This command provides profile management for mesh state. 
    # LOAD will restore the mesh state from the profile matching the supplied name. 
    # SAVE will save the current mesh state to a profile matching the supplied name. 
    # Remove will delete the profile matching the supplied name from persistent memory. 
    # Note that after SAVE or REMOVE operations have been run the SAVE_CONFIG gcode must be run to make the changes 
    # to persistent memory permanent.
#    BED_MESH_PROFILE SAVE="name"
    SAVE_CONFIG
#    BED_MESH_PROFILE LOAD="name"

[gcode_macro G50]
gcode:
    M104 S220
    M105
    M109 S220
    G91
    G1 E30 F3000
    G1 E-27 F9000
    M104 S62
    M105
    M109 S62
    G1 E-50 F300
    M84
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0

[duplicate_pin_override]
pins:
    PB5

[display]
lcd_type: uc1701
cs_pin: PE11
a0_pin: PE9
rst_pin: PE10
contrast: 63
# Reverse encoder pins
#encoder_pins:^PE13,^PE14
encoder_pins: ^PE14,^PE13
click_pin: ^!PE15
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
spi_software_miso_pin: PB5
spi_software_mosi_pin: PB5
spi_software_sclk_pin: PB3

#[pwm_cycle_time beeper]
#pin: PC5
[output_pin beeper]
pin: PC5


# This macro (M300) uses internal integrated beeper
# Just use it in your G-code for making sounds. Example: M300 S1000 P500
[gcode_macro M300]
gcode:
    {% set S = params.S|default(800)|float %}
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0 / S | float }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    STATUS_HEATING
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}
    STATUS_READY

[gcode_macro get_var]
gcode:
    {% set var1 = rawparams %}
    {% set var2 = params %}
    { action_respond_info("Rawparams: %s Params: %s" % (var1,var2)) }
[gcode_macro delay]
description: Set specified delay 1 minute and 35 seconds DELAY M=1 S=35 
gcode:
    {% set min = 0 %}
    {% set sec = 0 %}
    {% if params.M is defined %}
      {% set min = params.M|int * 1000 * 60 %}
    {% endif %}
    {% if params.S is defined %}
      {% set sec = params.S|int * 1000 %}
    {% endif %}
    {% set delay = min + sec %}
    { action_respond_info("Delay: %s" % delay) }
    G4 P{delay}
    
#    {% endfor %}
    
[gcode_macro SEARCH_VARS]
#
# SEARCH_VARS
#
# Dump the printer object so you can find variables of interest
# Credit to https://gist.github.com/mpalpha/ for the original
#
description: Dump the printer object to the console
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.500
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 71.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 48.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.037500, -0.090000, -0.120000, -0.150000, -0.207500, -0.225000
#*# 	  -0.165000, -0.197500, -0.205000, -0.207500, -0.252500, -0.265000
#*# 	  -0.315000, -0.307500, -0.300000, -0.297500, -0.297500, -0.282500
#*# 	  -0.430000, -0.395000, -0.352500, -0.327500, -0.297500, -0.257500
#*# 	  -0.485000, -0.420000, -0.370000, -0.340000, -0.312500, -0.250000
#*# 	  -0.412500, -0.350000, -0.300000, -0.275000, -0.250000, -0.210000
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 205.0
#*# min_y = 10.0
#*# max_y = 200.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.368
#*# pid_ki = 7.498
#*# pid_kd = 15.224
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.017
#*# pid_ki = 1.772
#*# pid_kd = 731.873
