on:
  push:
    tags:
      - '*'
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free Disk Space Before Build
        run: |
          echo "Disk space before cleanup:"
          df -h
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo apt-get clean
          sudo apt-get -y autoremove
          sudo apt-get -y autoclean
          echo "Disk space after cleanup:"
          df -h

      - name: Build image
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y libelf-dev bison flex mcedit gcc-aarch64-linux-gnu make qemu-user-static
          cat /proc/sys/fs/binfmt_misc/qemu-aarch64
          sudo sh -c 'echo -1 > /proc/sys/fs/binfmt_misc/qemu-aarch64'
          sudo sh -c 'echo ":qemu-aarch64:M::\x7f\x45\x4c\x46\x02\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\xb7\x00:\xff\xff\xff\xff\xff\xff\xff\x00\xff\xff\xff\xff\xff\xff\xff\xff\xfe\xff\xff\xff:/usr/libexec/qemu-binfmt/aarch64-binfmt-P:CFP" > /proc/sys/fs/binfmt_misc/register'
          cat /proc/sys/fs/binfmt_misc/qemu-aarch64
          git clone https://github.com/armbian/build.git
          cp -r ./files/userpatches/ build
          cd build
          ./compile.sh  BOARD=mkspi BRANCH=current RELEASE=jammy BSPFREEZE=yes BUILD_DESKTOP=no BUILD_MINIMAL=no KERNEL_CONFIGURE=no COMPRESS_OUTPUTIMAGE=sha,gpg,img KERNEL_GIT=shallow PROGRESS_LOG_TO_FILE=yes PROGRESS_DISPLAY=plain CLEAN_LEVEL=make,debs,make-uboot INCLUDE_HOME_DIR=yes
          LOOP_DEV=$(sudo losetup --partscan --find --show ./output/images/*.img)
          sudo mount "$LOOP_DEV"p2 /mnt
          export KERNEL_VERSION="$(awk '/Kernel:/ {print $2}' /mnt/home/mks/versions)"
          cp /mnt/home/mks/versions ..

          git clone https://github.com/Lebensgefahr/rockchip_wlan.git
          dpkg-deb -x ./output/debs/linux-headers-* ~/headers
          sudo rsync -a --ignore-existing ~/headers/ /
          pushd /usr/src/linux-headers-"$KERNEL_VERSION"
          sudo make ARCH="arm64" olddefconfig CROSS_COMPILE=aarch64-linux-gnu-
          sudo make ARCH="arm64" scripts CROSS_COMPILE=aarch64-linux-gnu-
          sudo make ARCH="arm64" M=scripts/mod/ CROSS_COMPILE=aarch64-linux-gnu-
          popd
          cd rockchip_wlan/rtl8723bs
          make KVER=$KERNEL_VERSION ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu-
          sudo make KVER="$KERNEL_VERSION" MODDESTDIR=/mnt/lib/modules/"$KERNEL_VERSION"/kernel/drivers/staging/rtl8723bs/ install
          sudo depmod -b /mnt -a "$KERNEL_VERSION"
          sudo bash -c 'cat <<EOF >/mnt/etc/modprobe.d/blacklist-r8723bs.conf
          blacklist r8723bs
          EOF'
          sudo umount /mnt

      - name: Archiving artifacts
        run: |
          cd build
          ZSTD_CLEVEL=19 tar --zstd -cf output.tar.zst output

      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          body_path: versions
          files: |
            build/output.tar.zst
